IIKO_API_LOGIN=token
IIKO_API_BASE_URL=url

# Организации (ID из iiko API)
ORGANIZATIONS=[{"id":"","name":"","restaurantId":, "iikoId": , "threadId": }]

LOGS_GROUP=group_id
LOGS_THREAD=thread_id
LOG_LEVEL=INFO

NOTIFY_GROUP=group_id

# Telegram Bot
TELEGRAM_BOT_TOKEN=token

IIKO_BASE_URL=url
IIKO_USER=user
IIKO_PASSWORD=password
IIKO_STORE_ID=store_id